html {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

body {
    background-image: url("");
    background-color: grey;
    width: 100%;
    position: absolute;
    top: none;
}

.container {
    background-color: rgba(025,025,025,.5);
    width: 1300px;
    /* center a div insie another div*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.content {
    opacity:1;
    color: black;
    width: 800px;
    background-color:white;
}

.content img {
    display: block;
/*     margin-left: auto;
    margin-right: auto; */
    width: 500px;
}


.text {
    color: black;
    padding: 16px;
    align-items: center;
}

.navbar{
    margin-bottom:10px;
    background-color: black;
    width: 1300px;
    height: auto;
}

.navbar .splash{
    margin:12px;

    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0px #646464;
}
.navbar .list ul li a {
    margin:12px;

    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    color: #ff6c00;
    text-shadow: 2px 2px 0px #646464;
}

.navbar img {
    margin:18px;
    width: 100px;
    
}

.navbar .list ul { 
    margin: auto; 
    list-style-type: none; 
    text-align: center; 
}
.navbar .list ul li {  
    display: inline; 
} 

.navbar .list ul li a:active {
    color:rgb(255, 238, 0);
}

.navbar .list a:hover {
    color:rgb(255, 145, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
